# files
options.txt
crafttweaker.log
usercache.json
usernamecache.json
options.txt
usercache.json
usernamecache.json
options.txt


# folders
journeymap
logs
local
mods
saves
visualores
crash-reports
config/InvTweaks.cfg
config/packetfixer.properties
config/splash.properties
config/jei/worldSettings.cfg
