# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way HEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        thermalfoundation:material:160
        libvulpes:productingot:6
        thermalfoundation:material:96
        libvulpes:productdust:6
     >
}


